@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.fixed-top{
    position:fixed;top:0;right:0;left:0;z-index:1030
  }

  .DashboardNav{
    height: 35px;
    width: 100%;
    background:#5BC5A7;
    color: white;
  }

  .DashboardNav h3{
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    top: 10px;
    left: 10vw;
    
  }

.profile{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: 10px;
}
  .Dashfloat{
    float: right;
    position: absolute;
    top: 2px;
    right: 10vw;
    
  }
  .Dashfloat button{
    padding: 4px 10px 4px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  .Dashfloat button:focus{
    outline: none;
  }
  .Dashfloat label{
    font-size:  18px;
    font-weight: normal;
  }


  .logoutbtn{
    background: #FF6337;
    font-size:  12px;
    margin-right: 15px;
  }