.friendPopup{
    width: 352px;
    min-height: 303px;
    height: auto;
    border: 1px solid black;
    position: fixed; /* Stay in place */
    z-index: 1; /*Sit on top*/
    padding-top: 100px; /*Location of the box*/
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
}
.frnd-content{
    background-color: #fefefe;
    border-radius: 5px;
    margin: auto;
    width: 352px;
    min-height: 303px;
    height: auto;
  
    border: 1px solid #888;
   
}

.frnd-header{
    background: #57C6A8;
    width: 100%;
    height: 45px;
}

.frnd-header span{
    color: white;
    font-size: 20px;
    margin: 5px;
}
.frnd-header button{
    background: none;
    border: none;
    color: white;
    margin: 5px;
}

.frnd-name{
    width: 95%;
    margin: 5px;
    padding: 5px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 0.5px solid lightgray;
}
.frnd-name,.exp-name,.money,.frnd-set button,.exp-inp2 input:focus{
    outline: none;
}

.pop-btn{
    margin-top: 45px;
    margin-left: 55px;
    
}
.pop-btn .Add{
    background: #FF652F;
    color: white;
    margin-right:35px; 
}
.pop-btn .cut{
    background: #5BC5A7;
    color: white;
    padding:  8px 25px 8px 25px; 
}

/* ********************************************** */
.exp-name{
    width: 70%;
    padding: 5px;
    padding-bottom: 10px;
    border: none;
    display: inline-block;
}
.exp-inp{
    border-bottom: 0.5px solid lightgray;
}
.exp-inp2{
    text-align: center;
    margin-top: 10px;
}
.exp-inp2 input{
    width: auto;
    text-align: center;
    padding: 5px;
    border: none;
    border-bottom: 0.5px solid lightgray;
}

.pop-btns{
    margin-top: 40px;
    margin-left: 75px;
    
}
.exp-inp2 #date{
    width: 45%;
    border-radius: 5px;
    /* height: 45px; */
    background: #F6F6F6;
    color: #666666;
    /* padding: 3px; */
    border: 1px solid lightgray;
    display: inline-block;
}
.youbtn{
    width: 50px;
    border-radius: 5px;
    border: 1px lightgray dotted;
    color: #57C6A8;
    background: #F6F6F6
}
.youbtn:focus{
    outline: none;
}
.youbtn:hover{
    background: #F0F0F0;
}
#amount{
    margin-bottom: 12px;
}
/* ************************************** */
.friend-list{
    border: 1px lightgray solid;
    background: white;;
    width: 352px;
    height: 352px;
    margin-left: 5%;
    position: absolute;
    top: 15%;
    left: 62%;
}

/* ******************settle up****************** */
.frnd-set{
    text-align: center;
    margin-top: 10%;
    
}
.frnd-set button{
    padding-left: 17px;
    padding-right: 17px;
    color: white;
    background: #57C6A8;
    margin: 5px;
    border-radius: 5px;
    border: 1px dotted lightgray;
}
.money{
    margin: 0px auto;
    border: none;
    border-bottom: 2px dotted lightgray;
    padding: 12px;
    margin-left: 20%;
    margin-top: 5px;
    text-align: center;
    font-size: 18px;
}
.bt-mr{
    margin-left: 25%;
}
.flx{
    display: flex;
}
.secondBox{
    width: 332px;
    height: auto;
    border: 1px solid gray;
    position: absolute;
    left: 65%;
    background: white;
}
.pro-img{
    width: 25px;
    margin-right: 12px;
    /* margin-left: px; */
}
.myList{
    
   
}
.myList li{
    list-style-type: none;
    cursor: pointer;
   padding: 8px;
    margin: 2px;
}
.myList li:hover{
    background: lightgray;
}
